body{
    background: lightblue;
    margin: auto;
}

#appWrap{
    margin: 25px auto;
    background: beige;
    min-height: 90%;
    border-radius: 15px;
}


/* Control Panel CSS */
#controlPanelTabs > ul{
    padding: 0px;
}
li.tab{
    list-style: none;
    display: inline-block;
    cursor: pointer;
    border: 3px plum solid;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
}

li.tab.active{
    background-color: plum;
}

div.tabContent{
    display: none;
}

div.tabContent.active{
    display: block;
}

#controlPanel{
    position: relative;
    left: 0;
    top: 0;
    width: 300px;
    padding: 25px;
}

#windowShopping{
    height: 175px;
    line-height: 175px;/*needs to match height because reasons*/
    text-align: center;
    width: 175px;
    border: 1px solid black;
    margin: 10px 0;
    position: relative;
}

#windowShoppingSlot{
    /*line-height: 1.5;
    display: inline-block;
    vertical-align: middle;*/
    margin: 0;
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

#garbageBin {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    text-align: center;
}

#buildFurniture input[type="number"],
#rebuildGrid input[type="number"]{
    max-width: 70px;
}



/* Grid CSS */
#daGrid{
    position: absolute;
    left: 325px;
    top: 50px;
}

.square, .furnitureLeg{  /*for squares on the grid*/
    border: 2px solid plum;
    margin: 0px;
    width: 25px;
    height: 25px;
    display: inline-block;
}

#daGrid .square{
    z-index: 10;
}
.full{
    background: rebeccapurple;
}


.furniture{
    transform-origin: top left;
}

.furnitureLeg{ /*for squares in furniture.*/
    background:pink;
    z-index:50;
}

.furniture .row:first-child .furnitureLeg:first-child{
    background: salmon;
}

.furnitureLeg.furnitureEdgeTop
{
    border-top-color:rebeccapurple;
}

.furnitureLeg.furnitureEdgeBottom{
    border-bottom-color:rebeccapurple;
}

.furnitureLeg.furnitureEdgeRight{
    border-right-color:rebeccapurple;
}

.furnitureLeg.furnitureEdgeLeft{
    border-left-color:rebeccapurple;
}